<center><img src="https://i.imgur.com/zRrFdsf.png" width="700"></center>

_____

<a id='home'></a>

# Reshaping

<a target="_blank" href="https://colab.research.google.com/github/CienciaDeDatosEspacial/code_and_data/blob/main/Reshaping.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>



Data frames have have different shapes. Let me use some columns from the data on fragility:

In [1]:
import os, pandas as pd

FragilityAll=pd.read_csv('https://raw.githubusercontent.com/CienciaDeDatosEspacial/appending/main/Fragility.csv')

#
FragilityAll.head()

,Country,Year,Total,Rank,C1_SecurityApparatus,C2_FactionalizedElites,C3_GroupGrievance,E1_Economy,E2_EconomicInequality,E3_HumanFlightandBrainDrain,P1_StateLegitimacy,P2_PublicServices,P3_HumanRights,S1_DemographicPressures,S2_RefugeesandIDPs,X1_ExternalIntervention
0,SOMALIA,2013,113.9,1,9.7,10.0,9.3,9.4,8.4,8.9,9.5,9.8,10.0,9.5,10.0,9.4
1,CONGO DEMOCRATIC REPUBLIC,2013,111.9,2,10.0,9.5,9.4,8.5,8.8,7.1,9.6,9.5,9.8,10.0,10.0,9.7
2,SUDAN,2013,111.0,3,9.8,10.0,10.0,7.8,8.5,8.4,9.6,8.8,9.3,8.8,10.0,10.0
3,SOUTH SUDAN,2013,110.6,4,9.6,9.8,10.0,8.6,8.9,6.5,9.1,9.8,9.3,8.9,10.0,10.0
4,CHAD,2013,109.0,5,9.4,9.5,8.8,8.0,8.9,8.0,9.7,9.9,9.8,9.5,9.7,7.9

Let me keep some variables:

In [2]:
keep=['Country','Year','C1_SecurityApparatus','C2_FactionalizedElites','C3_GroupGrievance']
FragilitySome=FragilityAll.loc[:,keep].copy()

This is a **long** shape:

In [3]:
# country names will repeat:
FragilitySome.sort_values(by='Country')

,Country,Year,C1_SecurityApparatus,C2_FactionalizedElites,C3_GroupGrievance
898,AFGHANISTAN,2018,10.0,8.6,8.1
542,AFGHANISTAN,2016,10.0,8.6,8.6
363,AFGHANISTAN,2015,10.0,9.3,8.9
720,AFGHANISTAN,2017,10.0,8.6,8.4
6,AFGHANISTAN,2013,9.9,9.4,9.2
...,...,...,...,...,...
371,ZIMBABWE,2015,7.9,9.7,7.8
899,ZIMBABWE,2018,9.1,10.0,7.0
725,ZIMBABWE,2017,8.1,9.8,7.3
1255,ZIMBABWE,2020,8.5,10.0,6.4
1077,ZIMBABWE,2019,8.8,10.0,6.7

But, if I choose one year, I have a wide shape:

In [4]:
FragilitySome[FragilitySome.Year==2013]

,Country,Year,C1_SecurityApparatus,C2_FactionalizedElites,C3_GroupGrievance
0,SOMALIA,2013,9.7,10.0,9.3
1,CONGO DEMOCRATIC REPUBLIC,2013,10.0,9.5,9.4
2,SUDAN,2013,9.8,10.0,10.0
3,SOUTH SUDAN,2013,9.6,9.8,10.0
4,CHAD,2013,9.4,9.5,8.8
...,...,...,...,...,...
173,DENMARK,2013,1.5,1.4,3.4
174,NORWAY,2013,2.7,1.1,3.6
175,SWITZERLAND,2013,1.4,1.0,3.5
176,SWEDEN,2013,2.2,1.8,1.0
177,FINLAND,2013,1.0,1.1,1.4

## From long to wide

In [5]:
# to wide
FragilitySome_W=pd.pivot_table(FragilitySome,
                               index=['Country'], # unit of analysis
                               columns=['Year']) # the values for NEW column

FragilitySome_W

                    C1_SecurityApparatus                                     \
Year                                2013  2014  2015  2016  2017       2018
Country
AFGHANISTAN                          9.9  10.0  10.0  10.0  10.0  10.000000
ALBANIA                              5.5   5.0   4.7   4.4   4.7   4.843615
ALGERIA                              7.4   7.5   8.0   7.7   7.2   6.900000
ANGOLA                               6.1   5.8   6.0   6.2   6.5   6.800000
ANTIGUA AND BARBUDA                  4.9   4.9   5.2   5.4   5.7   5.700000
...                                  ...   ...   ...   ...   ...        ...
VENEZUELA                            6.5   6.2   6.5   6.8   7.3   7.378925
VIETNAM                              5.4   5.1   5.1   4.8   4.6   4.300000
YEMEN                                9.8   9.5  10.0  10.0   9.8   9.900000
ZAMBIA                               5.0   4.7   5.0   4.7   4.6   4.900000
ZIMBABWE                             8.4   8.1   7.9   7.8   8.1   9.100000

                                          C2_FactionalizedElites  ...        \
Year                 2019      2020  2021                   2013  ...  2021
Country                                                           ...
AFGHANISTAN          10.0  9.932963  10.0                    9.4  ...   8.6
ALBANIA               5.1  5.072586   4.8                    6.3  ...   6.2
ALGERIA               6.6  6.317767   6.0                    7.3  ...   7.5
ANGOLA                6.9  7.082237   7.2                    7.3  ...   7.2
ANTIGUA AND BARBUDA   5.7  5.700000   5.4                    3.7  ...   3.7
...                   ...       ...   ...                    ...  ...   ...
VENEZUELA             7.4  7.244253   7.3                    7.3  ...   9.3
VIETNAM               4.2  4.210822   3.9                    6.9  ...   6.9
YEMEN                10.0  9.700000   9.4                    9.5  ...  10.0
ZAMBIA                5.1  4.800000   4.5                    5.7  ...   5.9
ZIMBABWE              8.8  8.500000   8.6                    9.7  ...  10.0

                    C3_GroupGrievance                                     \
Year                             2013 2014 2015 2016 2017      2018 2019
Country
AFGHANISTAN                       9.2  8.7  8.9  8.6  8.4  8.100000  7.8
ALBANIA                           4.8  4.7  5.0  4.7  4.5  4.200000  4.3
ALGERIA                           7.8  7.9  8.2  7.9  7.1  7.338706  7.4
ANGOLA                            6.8  7.1  7.3  7.7  7.5  7.200000  7.5
ANTIGUA AND BARBUDA               4.1  4.1  3.9  3.9  3.9  3.600000  3.6
...                               ...  ...  ...  ...  ...       ...  ...
VENEZUELA                         6.4  6.8  7.3  7.4  7.2  7.300000  7.6
VIETNAM                           5.7  6.0  6.5  6.2  6.0  5.700000  5.8
YEMEN                             9.0  9.3  9.4  9.5  9.3  9.500000  9.6
ZAMBIA                            6.0  6.0  5.7  5.4  5.9  5.600000  5.3
ZIMBABWE                          8.4  8.1  7.8  7.5  7.3  7.000000  6.7


Year                     2020 2021
Country
AFGHANISTAN          7.500000  7.2
ALBANIA              4.400000  4.1
ALGERIA              7.472407  7.2
ANGOLA               7.800000  8.1
ANTIGUA AND BARBUDA  3.600000  3.6
...                       ...  ...
VENEZUELA            7.300000  7.0
VIETNAM              5.500000  5.2
YEMEN                9.698870  9.4
ZAMBIA               5.000000  5.3
ZIMBABWE             6.400000  6.1

[186 rows x 27 columns]

Notice the column names:

In [6]:
FragilitySome_W.columns

MultiIndex([(  'C1_SecurityApparatus', 2013),
            (  'C1_SecurityApparatus', 2014),
            (  'C1_SecurityApparatus', 2015),
            (  'C1_SecurityApparatus', 2016),
            (  'C1_SecurityApparatus', 2017),
            (  'C1_SecurityApparatus', 2018),
            (  'C1_SecurityApparatus', 2019),
            (  'C1_SecurityApparatus', 2020),
            (  'C1_SecurityApparatus', 2021),
            ('C2_FactionalizedElites', 2013),
            ('C2_FactionalizedElites', 2014),
            ('C2_FactionalizedElites', 2015),
            ('C2_FactionalizedElites', 2016),
            ('C2_FactionalizedElites', 2017),
            ('C2_FactionalizedElites', 2018),
            ('C2_FactionalizedElites', 2019),
            ('C2_FactionalizedElites', 2020),
            ('C2_FactionalizedElites', 2021),
            (     'C3_GroupGrievance', 2013),
            (     'C3_GroupGrievance', 2014),
            (     'C3_GroupGrievance', 2015),
            (     'C3_GroupGrievance', 2016),
            (     'C3_GroupGrievance', 2017),
            (     'C3_GroupGrievance', 2018),
            (     'C3_GroupGrievance', 2019),
            (     'C3_GroupGrievance', 2020),
            (     'C3_GroupGrievance', 2021)],
           names=[None, 'Year'])

In [7]:
#then
FragilitySome_W.columns=['.'.join([col[0],str(col[1])]) for col in FragilitySome_W.columns]
FragilitySome_W.head()

,C1_SecurityApparatus.2013,C1_SecurityApparatus.2014,C1_SecurityApparatus.2015,C1_SecurityApparatus.2016,C1_SecurityApparatus.2017,C1_SecurityApparatus.2018,C1_SecurityApparatus.2019,C1_SecurityApparatus.2020,C1_SecurityApparatus.2021,C2_FactionalizedElites.2013,...,C2_FactionalizedElites.2021,C3_GroupGrievance.2013,C3_GroupGrievance.2014,C3_GroupGrievance.2015,C3_GroupGrievance.2016,C3_GroupGrievance.2017,C3_GroupGrievance.2018,C3_GroupGrievance.2019,C3_GroupGrievance.2020,C3_GroupGrievance.2021
Country,,,,,,,,,,,,,,,,,,,,,
AFGHANISTAN,9.9,10.0,10.0,10.0,10.0,10.000000,10.0,9.932963,10.0,9.4,...,8.6,9.2,8.7,8.9,8.6,8.4,8.100000,7.8,7.500000,7.2
ALBANIA,5.5,5.0,4.7,4.4,4.7,4.843615,5.1,5.072586,4.8,6.3,...,6.2,4.8,4.7,5.0,4.7,4.5,4.200000,4.3,4.400000,4.1
ALGERIA,7.4,7.5,8.0,7.7,7.2,6.900000,6.6,6.317767,6.0,7.3,...,7.5,7.8,7.9,8.2,7.9,7.1,7.338706,7.4,7.472407,7.2
ANGOLA,6.1,5.8,6.0,6.2,6.5,6.800000,6.9,7.082237,7.2,7.3,...,7.2,6.8,7.1,7.3,7.7,7.5,7.200000,7.5,7.800000,8.1
ANTIGUA AND BARBUDA,4.9,4.9,5.2,5.4,5.7,5.700000,5.7,5.700000,5.4,3.7,...,3.7,4.1,4.1,3.9,3.9,3.9,3.600000,3.6,3.600000,3.6

As usual, you want the index as a column:

In [8]:
FragilitySome_W.reset_index(drop=False,inplace=True)
FragilitySome_W

,Country,C1_SecurityApparatus.2013,C1_SecurityApparatus.2014,C1_SecurityApparatus.2015,C1_SecurityApparatus.2016,C1_SecurityApparatus.2017,C1_SecurityApparatus.2018,C1_SecurityApparatus.2019,C1_SecurityApparatus.2020,C1_SecurityApparatus.2021,...,C2_FactionalizedElites.2021,C3_GroupGrievance.2013,C3_GroupGrievance.2014,C3_GroupGrievance.2015,C3_GroupGrievance.2016,C3_GroupGrievance.2017,C3_GroupGrievance.2018,C3_GroupGrievance.2019,C3_GroupGrievance.2020,C3_GroupGrievance.2021
0,AFGHANISTAN,9.9,10.0,10.0,10.0,10.0,10.000000,10.0,9.932963,10.0,...,8.6,9.2,8.7,8.9,8.6,8.4,8.100000,7.8,7.500000,7.2
1,ALBANIA,5.5,5.0,4.7,4.4,4.7,4.843615,5.1,5.072586,4.8,...,6.2,4.8,4.7,5.0,4.7,4.5,4.200000,4.3,4.400000,4.1
2,ALGERIA,7.4,7.5,8.0,7.7,7.2,6.900000,6.6,6.317767,6.0,...,7.5,7.8,7.9,8.2,7.9,7.1,7.338706,7.4,7.472407,7.2
3,ANGOLA,6.1,5.8,6.0,6.2,6.5,6.800000,6.9,7.082237,7.2,...,7.2,6.8,7.1,7.3,7.7,7.5,7.200000,7.5,7.800000,8.1
4,ANTIGUA AND BARBUDA,4.9,4.9,5.2,5.4,5.7,5.700000,5.7,5.700000,5.4,...,3.7,4.1,4.1,3.9,3.9,3.9,3.600000,3.6,3.600000,3.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181,VENEZUELA,6.5,6.2,6.5,6.8,7.3,7.378925,7.4,7.244253,7.3,...,9.3,6.4,6.8,7.3,7.4,7.2,7.300000,7.6,7.300000,7.0
182,VIETNAM,5.4,5.1,5.1,4.8,4.6,4.300000,4.2,4.210822,3.9,...,6.9,5.7,6.0,6.5,6.2,6.0,5.700000,5.8,5.500000,5.2
183,YEMEN,9.8,9.5,10.0,10.0,9.8,9.900000,10.0,9.700000,9.4,...,10.0,9.0,9.3,9.4,9.5,9.3,9.500000,9.6,9.698870,9.4
184,ZAMBIA,5.0,4.7,5.0,4.7,4.6,4.900000,5.1,4.800000,4.5,...,5.9,6.0,6.0,5.7,5.4,5.9,5.600000,5.3,5.000000,5.3
185,ZIMBABWE,8.4,8.1,7.9,7.8,8.1,9.100000,8.8,8.500000,8.6,...,10.0,8.4,8.1,7.8,7.5,7.3,7.000000,6.7,6.400000,6.1

Long shape is efficient in the presence of missing values:

In [9]:
# missing values in long format
FragilitySome[FragilitySome.isna().any(axis=1)]

Empty DataFrame
Columns: [Country, Year, C1_SecurityApparatus, C2_FactionalizedElites, C3_GroupGrievance]
Index: []

Wide shape will create missing values when needed:

In [10]:
# what cells have missing values?
FragilitySome_W[FragilitySome_W.isna().any(axis=1)]

,Country,C1_SecurityApparatus.2013,C1_SecurityApparatus.2014,C1_SecurityApparatus.2015,C1_SecurityApparatus.2016,C1_SecurityApparatus.2017,C1_SecurityApparatus.2018,C1_SecurityApparatus.2019,C1_SecurityApparatus.2020,C1_SecurityApparatus.2021,...,C2_FactionalizedElites.2021,C3_GroupGrievance.2013,C3_GroupGrievance.2014,C3_GroupGrievance.2015,C3_GroupGrievance.2016,C3_GroupGrievance.2017,C3_GroupGrievance.2018,C3_GroupGrievance.2019,C3_GroupGrievance.2020,C3_GroupGrievance.2021
27,CABO VERDE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.8,...,5.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.9
31,CAPE VERDE,5.7,5.7,5.7,5.4,5.4,5.1,5.0,5.081616,NaN,...,NaN,4.2,4.2,4.0,4.1,4.1,3.80000,3.5,3.200000,NaN
45,CZECH REPUBLIC,2.1,2.3,2.6,2.3,2.6,2.9,NaN,2.900000,NaN,...,NaN,3.8,3.8,3.8,5.0,4.8,5.10000,NaN,4.900000,NaN
46,CZECHIA,NaN,NaN,NaN,NaN,NaN,NaN,3.2,NaN,2.6,...,5.3,NaN,NaN,NaN,NaN,NaN,NaN,4.8,NaN,4.6
56,ESWATINI,NaN,NaN,NaN,NaN,NaN,NaN,5.7,NaN,5.1,...,6.8,NaN,NaN,NaN,NaN,NaN,NaN,2.8,NaN,2.2
81,ISRAEL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.4,...,7.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.7
82,ISRAEL AND WEST BANK,7.1,6.8,7.0,7.1,6.9,6.6,6.3,6.000000,NaN,...,NaN,9.8,9.7,9.7,9.8,10.0,9.99897,10.0,9.999972,NaN
90,KYRGYZ REPUBLIC,7.4,7.1,6.8,6.5,6.5,6.8,6.5,6.520564,NaN,...,NaN,8.4,8.2,8.4,8.6,8.4,8.10000,8.1,8.400000,NaN
91,KYRGYZSTAN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.2,...,8.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.1
100,MACEDONIA,6.0,5.7,5.4,5.7,5.6,5.3,5.3,5.000000,NaN,...,NaN,7.8,7.3,7.0,7.1,6.9,6.60000,6.6,6.300000,NaN
125,NORTH MACEDONIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.7,...,7.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0
129,PALESTINE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,...,8.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0
149,SLOVAK REPUBLIC,2.3,2.6,2.3,2.0,1.8,2.1,1.8,1.532661,NaN,...,NaN,5.0,5.6,5.9,6.5,6.9,6.60000,6.3,6.000000,NaN
150,SLOVAKIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.2,...,4.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.7
161,SWAZILAND,6.0,5.7,6.0,6.0,6.3,6.0,NaN,5.400000,NaN,...,NaN,3.6,3.6,3.7,3.4,3.4,3.10000,NaN,2.500000,NaN

This last request shows us problems.
As you can see, even though the data DFs were prepared by the same organization, the DFs have country names that differ among them. Here we need some **manual** changes:

In [11]:
# prepare changes as dict:
changes={"CABO VERDE": "CAPE VERDE",
"CZECHIA":"CZECH REPUBLIC",
"SWAZILAND":"ESWATINI",
"ISRAEL AND WEST BANK":"ISRAEL",
"KYRGYZSTAN":"KYRGYZ REPUBLIC",
"NORTH MACEDONIA":"MACEDONIA",
"SLOVAKIA": "SLOVAK REPUBLIC"}

Notice I am making the changes in the long shape of the DF, so that the wide shape will work fine:

In [12]:
# make changes using 'replace':
FragilityAll.replace(to_replace={'Country':changes},inplace=True)

# re saving

FragilityAll.to_csv('Fragility_cleaner.csv')

#then
FragilitySome=FragilityAll.loc[:,keep].copy()

Let's redo the wide reshape:

In [13]:
# to wide shape again
FragilitySome_W=pd.pivot_table(FragilitySome,
                               index=['Country'], # unit of analysis
                               columns=['Year']) # the values for NEW column


FragilitySome_W.columns=['.'.join([col[0],str(col[1])]) for col in FragilitySome_W.columns]
# verify missing
FragilitySome_W[FragilitySome_W.isna().any(axis=1)]

,C1_SecurityApparatus.2013,C1_SecurityApparatus.2014,C1_SecurityApparatus.2015,C1_SecurityApparatus.2016,C1_SecurityApparatus.2017,C1_SecurityApparatus.2018,C1_SecurityApparatus.2019,C1_SecurityApparatus.2020,C1_SecurityApparatus.2021,C2_FactionalizedElites.2013,...,C2_FactionalizedElites.2021,C3_GroupGrievance.2013,C3_GroupGrievance.2014,C3_GroupGrievance.2015,C3_GroupGrievance.2016,C3_GroupGrievance.2017,C3_GroupGrievance.2018,C3_GroupGrievance.2019,C3_GroupGrievance.2020,C3_GroupGrievance.2021
Country,,,,,,,,,,,,,,,,,,,,,
PALESTINE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,NaN,...,8.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0

You have to be very careful when working with countries, specially when you are including or excluding countries; which may cause you hurting someone else's feelings.

For instance, here I am just keeping **rows** with no missing values:

In [14]:
FragilitySome_W.dropna(inplace=True)
FragilitySome_W

,C1_SecurityApparatus.2013,C1_SecurityApparatus.2014,C1_SecurityApparatus.2015,C1_SecurityApparatus.2016,C1_SecurityApparatus.2017,C1_SecurityApparatus.2018,C1_SecurityApparatus.2019,C1_SecurityApparatus.2020,C1_SecurityApparatus.2021,C2_FactionalizedElites.2013,...,C2_FactionalizedElites.2021,C3_GroupGrievance.2013,C3_GroupGrievance.2014,C3_GroupGrievance.2015,C3_GroupGrievance.2016,C3_GroupGrievance.2017,C3_GroupGrievance.2018,C3_GroupGrievance.2019,C3_GroupGrievance.2020,C3_GroupGrievance.2021
Country,,,,,,,,,,,,,,,,,,,,,
AFGHANISTAN,9.9,10.0,10.0,10.0,10.0,10.000000,10.0,9.932963,10.0,9.4,...,8.6,9.2,8.7,8.9,8.6,8.4,8.100000,7.8,7.500000,7.2
ALBANIA,5.5,5.0,4.7,4.4,4.7,4.843615,5.1,5.072586,4.8,6.3,...,6.2,4.8,4.7,5.0,4.7,4.5,4.200000,4.3,4.400000,4.1
ALGERIA,7.4,7.5,8.0,7.7,7.2,6.900000,6.6,6.317767,6.0,7.3,...,7.5,7.8,7.9,8.2,7.9,7.1,7.338706,7.4,7.472407,7.2
ANGOLA,6.1,5.8,6.0,6.2,6.5,6.800000,6.9,7.082237,7.2,7.3,...,7.2,6.8,7.1,7.3,7.7,7.5,7.200000,7.5,7.800000,8.1
ANTIGUA AND BARBUDA,4.9,4.9,5.2,5.4,5.7,5.700000,5.7,5.700000,5.4,3.7,...,3.7,4.1,4.1,3.9,3.9,3.9,3.600000,3.6,3.600000,3.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
VENEZUELA,6.5,6.2,6.5,6.8,7.3,7.378925,7.4,7.244253,7.3,7.3,...,9.3,6.4,6.8,7.3,7.4,7.2,7.300000,7.6,7.300000,7.0
VIETNAM,5.4,5.1,5.1,4.8,4.6,4.300000,4.2,4.210822,3.9,6.9,...,6.9,5.7,6.0,6.5,6.2,6.0,5.700000,5.8,5.500000,5.2
YEMEN,9.8,9.5,10.0,10.0,9.8,9.900000,10.0,9.700000,9.4,9.5,...,10.0,9.0,9.3,9.4,9.5,9.3,9.500000,9.6,9.698870,9.4
ZAMBIA,5.0,4.7,5.0,4.7,4.6,4.900000,5.1,4.800000,4.5,5.7,...,5.9,6.0,6.0,5.7,5.4,5.9,5.600000,5.3,5.000000,5.3
ZIMBABWE,8.4,8.1,7.9,7.8,8.1,9.100000,8.8,8.500000,8.6,9.7,...,10.0,8.4,8.1,7.8,7.5,7.3,7.000000,6.7,6.400000,6.1

## From wide to long

In [15]:
# we had
FragilitySome2013=FragilitySome[FragilitySome.Year==2013]
FragilitySome2013

,Country,Year,C1_SecurityApparatus,C2_FactionalizedElites,C3_GroupGrievance
0,SOMALIA,2013,9.7,10.0,9.3
1,CONGO DEMOCRATIC REPUBLIC,2013,10.0,9.5,9.4
2,SUDAN,2013,9.8,10.0,10.0
3,SOUTH SUDAN,2013,9.6,9.8,10.0
4,CHAD,2013,9.4,9.5,8.8
...,...,...,...,...,...
173,DENMARK,2013,1.5,1.4,3.4
174,NORWAY,2013,2.7,1.1,3.6
175,SWITZERLAND,2013,1.4,1.0,3.5
176,SWEDEN,2013,2.2,1.8,1.0
177,FINLAND,2013,1.0,1.1,1.4

In [16]:
#then
pd.melt(FragilitySome2013,id_vars=['Country','Year'])

                       Country  Year              variable  value
0                      SOMALIA  2013  C1_SecurityApparatus    9.7
1    CONGO DEMOCRATIC REPUBLIC  2013  C1_SecurityApparatus   10.0
2                        SUDAN  2013  C1_SecurityApparatus    9.8
3                  SOUTH SUDAN  2013  C1_SecurityApparatus    9.6
4                         CHAD  2013  C1_SecurityApparatus    9.4
..                         ...   ...                   ...    ...
529                    DENMARK  2013     C3_GroupGrievance    3.4
530                     NORWAY  2013     C3_GroupGrievance    3.6
531                SWITZERLAND  2013     C3_GroupGrievance    3.5
532                     SWEDEN  2013     C3_GroupGrievance    1.0
533                    FINLAND  2013     C3_GroupGrievance    1.4

[534 rows x 4 columns]

...and back to the original:

In [17]:
FragilitySome2013_L=pd.melt(FragilitySome2013,id_vars=['Country','Year'])

# to wide
pd.pivot_table(FragilitySome2013_L,
               index=['Country','Year'], # unit of analysis
               columns=['variable']) # the values for NEW column

                                        value                         \
variable                 C1_SecurityApparatus C2_FactionalizedElites
Country             Year
AFGHANISTAN         2013                  9.9                    9.4
ALBANIA             2013                  5.5                    6.3
ALGERIA             2013                  7.4                    7.3
ANGOLA              2013                  6.1                    7.3
ANTIGUA AND BARBUDA 2013                  4.9                    3.7
...                                       ...                    ...
VENEZUELA           2013                  6.5                    7.3
VIETNAM             2013                  5.4                    6.9
YEMEN               2013                  9.8                    9.5
ZAMBIA              2013                  5.0                    5.7
ZIMBABWE            2013                  8.4                    9.7


variable                 C3_GroupGrievance
Country             Year
AFGHANISTAN         2013               9.2
ALBANIA             2013               4.8
ALGERIA             2013               7.8
ANGOLA              2013               6.8
ANTIGUA AND BARBUDA 2013               4.1
...                                    ...
VENEZUELA           2013               6.4
VIETNAM             2013               5.7
YEMEN               2013               9.0
ZAMBIA              2013               6.0
ZIMBABWE            2013               8.4

[178 rows x 3 columns]

This looks more complex:

In [18]:
FragilitySome_W

,C1_SecurityApparatus.2013,C1_SecurityApparatus.2014,C1_SecurityApparatus.2015,C1_SecurityApparatus.2016,C1_SecurityApparatus.2017,C1_SecurityApparatus.2018,C1_SecurityApparatus.2019,C1_SecurityApparatus.2020,C1_SecurityApparatus.2021,C2_FactionalizedElites.2013,...,C2_FactionalizedElites.2021,C3_GroupGrievance.2013,C3_GroupGrievance.2014,C3_GroupGrievance.2015,C3_GroupGrievance.2016,C3_GroupGrievance.2017,C3_GroupGrievance.2018,C3_GroupGrievance.2019,C3_GroupGrievance.2020,C3_GroupGrievance.2021
Country,,,,,,,,,,,,,,,,,,,,,
AFGHANISTAN,9.9,10.0,10.0,10.0,10.0,10.000000,10.0,9.932963,10.0,9.4,...,8.6,9.2,8.7,8.9,8.6,8.4,8.100000,7.8,7.500000,7.2
ALBANIA,5.5,5.0,4.7,4.4,4.7,4.843615,5.1,5.072586,4.8,6.3,...,6.2,4.8,4.7,5.0,4.7,4.5,4.200000,4.3,4.400000,4.1
ALGERIA,7.4,7.5,8.0,7.7,7.2,6.900000,6.6,6.317767,6.0,7.3,...,7.5,7.8,7.9,8.2,7.9,7.1,7.338706,7.4,7.472407,7.2
ANGOLA,6.1,5.8,6.0,6.2,6.5,6.800000,6.9,7.082237,7.2,7.3,...,7.2,6.8,7.1,7.3,7.7,7.5,7.200000,7.5,7.800000,8.1
ANTIGUA AND BARBUDA,4.9,4.9,5.2,5.4,5.7,5.700000,5.7,5.700000,5.4,3.7,...,3.7,4.1,4.1,3.9,3.9,3.9,3.600000,3.6,3.600000,3.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
VENEZUELA,6.5,6.2,6.5,6.8,7.3,7.378925,7.4,7.244253,7.3,7.3,...,9.3,6.4,6.8,7.3,7.4,7.2,7.300000,7.6,7.300000,7.0
VIETNAM,5.4,5.1,5.1,4.8,4.6,4.300000,4.2,4.210822,3.9,6.9,...,6.9,5.7,6.0,6.5,6.2,6.0,5.700000,5.8,5.500000,5.2
YEMEN,9.8,9.5,10.0,10.0,9.8,9.900000,10.0,9.700000,9.4,9.5,...,10.0,9.0,9.3,9.4,9.5,9.3,9.500000,9.6,9.698870,9.4
ZAMBIA,5.0,4.7,5.0,4.7,4.6,4.900000,5.1,4.800000,4.5,5.7,...,5.9,6.0,6.0,5.7,5.4,5.9,5.600000,5.3,5.000000,5.3
ZIMBABWE,8.4,8.1,7.9,7.8,8.1,9.100000,8.8,8.500000,8.6,9.7,...,10.0,8.4,8.1,7.8,7.5,7.3,7.000000,6.7,6.400000,6.1

The strategy (for pandas) will be to re create the multi index:

In [19]:
# currently:
FragilitySome_W.columns

Index(['C1_SecurityApparatus.2013', 'C1_SecurityApparatus.2014',
       'C1_SecurityApparatus.2015', 'C1_SecurityApparatus.2016',
       'C1_SecurityApparatus.2017', 'C1_SecurityApparatus.2018',
       'C1_SecurityApparatus.2019', 'C1_SecurityApparatus.2020',
       'C1_SecurityApparatus.2021', 'C2_FactionalizedElites.2013',
       'C2_FactionalizedElites.2014', 'C2_FactionalizedElites.2015',
       'C2_FactionalizedElites.2016', 'C2_FactionalizedElites.2017',
       'C2_FactionalizedElites.2018', 'C2_FactionalizedElites.2019',
       'C2_FactionalizedElites.2020', 'C2_FactionalizedElites.2021',
       'C3_GroupGrievance.2013', 'C3_GroupGrievance.2014',
       'C3_GroupGrievance.2015', 'C3_GroupGrievance.2016',
       'C3_GroupGrievance.2017', 'C3_GroupGrievance.2018',
       'C3_GroupGrievance.2019', 'C3_GroupGrievance.2020',
       'C3_GroupGrievance.2021'],
      dtype='object')

In [20]:
# new cols
[tuple(col.split('.')) for col in FragilitySome_W.columns]

[('C1_SecurityApparatus', '2013'),
 ('C1_SecurityApparatus', '2014'),
 ('C1_SecurityApparatus', '2015'),
 ('C1_SecurityApparatus', '2016'),
 ('C1_SecurityApparatus', '2017'),
 ('C1_SecurityApparatus', '2018'),
 ('C1_SecurityApparatus', '2019'),
 ('C1_SecurityApparatus', '2020'),
 ('C1_SecurityApparatus', '2021'),
 ('C2_FactionalizedElites', '2013'),
 ('C2_FactionalizedElites', '2014'),
 ('C2_FactionalizedElites', '2015'),
 ('C2_FactionalizedElites', '2016'),
 ('C2_FactionalizedElites', '2017'),
 ('C2_FactionalizedElites', '2018'),
 ('C2_FactionalizedElites', '2019'),
 ('C2_FactionalizedElites', '2020'),
 ('C2_FactionalizedElites', '2021'),
 ('C3_GroupGrievance', '2013'),
 ('C3_GroupGrievance', '2014'),
 ('C3_GroupGrievance', '2015'),
 ('C3_GroupGrievance', '2016'),
 ('C3_GroupGrievance', '2017'),
 ('C3_GroupGrievance', '2018'),
 ('C3_GroupGrievance', '2019'),
 ('C3_GroupGrievance', '2020'),
 ('C3_GroupGrievance', '2021')]

In [21]:
# making changes:

colTuples=[tuple(col.split('.')) for col in FragilitySome_W.columns]
pd.MultiIndex.from_tuples(colTuples, names=('variable', 'year'))

MultiIndex([(  'C1_SecurityApparatus', '2013'),
            (  'C1_SecurityApparatus', '2014'),
            (  'C1_SecurityApparatus', '2015'),
            (  'C1_SecurityApparatus', '2016'),
            (  'C1_SecurityApparatus', '2017'),
            (  'C1_SecurityApparatus', '2018'),
            (  'C1_SecurityApparatus', '2019'),
            (  'C1_SecurityApparatus', '2020'),
            (  'C1_SecurityApparatus', '2021'),
            ('C2_FactionalizedElites', '2013'),
            ('C2_FactionalizedElites', '2014'),
            ('C2_FactionalizedElites', '2015'),
            ('C2_FactionalizedElites', '2016'),
            ('C2_FactionalizedElites', '2017'),
            ('C2_FactionalizedElites', '2018'),
            ('C2_FactionalizedElites', '2019'),
            ('C2_FactionalizedElites', '2020'),
            ('C2_FactionalizedElites', '2021'),
            (     'C3_GroupGrievance', '2013'),
            (     'C3_GroupGrievance', '2014'),
            (     'C3_GroupGrievance', '2015'),
            (     'C3_GroupGrievance', '2016'),
            (     'C3_GroupGrievance', '2017'),
            (     'C3_GroupGrievance', '2018'),
            (     'C3_GroupGrievance', '2019'),
            (     'C3_GroupGrievance', '2020'),
            (     'C3_GroupGrievance', '2021')],
           names=['variable', 'year'])

Using the multiindex:

In [22]:
FragilitySome_W.columns=pd.MultiIndex.from_tuples(colTuples, names=('measure', 'year'))
FragilitySome_W

measure             C1_SecurityApparatus                                     \
year                                2013  2014  2015  2016  2017       2018
Country
AFGHANISTAN                          9.9  10.0  10.0  10.0  10.0  10.000000
ALBANIA                              5.5   5.0   4.7   4.4   4.7   4.843615
ALGERIA                              7.4   7.5   8.0   7.7   7.2   6.900000
ANGOLA                               6.1   5.8   6.0   6.2   6.5   6.800000
ANTIGUA AND BARBUDA                  4.9   4.9   5.2   5.4   5.7   5.700000
...                                  ...   ...   ...   ...   ...        ...
VENEZUELA                            6.5   6.2   6.5   6.8   7.3   7.378925
VIETNAM                              5.4   5.1   5.1   4.8   4.6   4.300000
YEMEN                                9.8   9.5  10.0  10.0   9.8   9.900000
ZAMBIA                               5.0   4.7   5.0   4.7   4.6   4.900000
ZIMBABWE                             8.4   8.1   7.9   7.8   8.1   9.100000

measure                                   C2_FactionalizedElites  ...        \
year                 2019      2020  2021                   2013  ...  2021
Country                                                           ...
AFGHANISTAN          10.0  9.932963  10.0                    9.4  ...   8.6
ALBANIA               5.1  5.072586   4.8                    6.3  ...   6.2
ALGERIA               6.6  6.317767   6.0                    7.3  ...   7.5
ANGOLA                6.9  7.082237   7.2                    7.3  ...   7.2
ANTIGUA AND BARBUDA   5.7  5.700000   5.4                    3.7  ...   3.7
...                   ...       ...   ...                    ...  ...   ...
VENEZUELA             7.4  7.244253   7.3                    7.3  ...   9.3
VIETNAM               4.2  4.210822   3.9                    6.9  ...   6.9
YEMEN                10.0  9.700000   9.4                    9.5  ...  10.0
ZAMBIA                5.1  4.800000   4.5                    5.7  ...   5.9
ZIMBABWE              8.8  8.500000   8.6                    9.7  ...  10.0

measure             C3_GroupGrievance                                     \
year                             2013 2014 2015 2016 2017      2018 2019
Country
AFGHANISTAN                       9.2  8.7  8.9  8.6  8.4  8.100000  7.8
ALBANIA                           4.8  4.7  5.0  4.7  4.5  4.200000  4.3
ALGERIA                           7.8  7.9  8.2  7.9  7.1  7.338706  7.4
ANGOLA                            6.8  7.1  7.3  7.7  7.5  7.200000  7.5
ANTIGUA AND BARBUDA               4.1  4.1  3.9  3.9  3.9  3.600000  3.6
...                               ...  ...  ...  ...  ...       ...  ...
VENEZUELA                         6.4  6.8  7.3  7.4  7.2  7.300000  7.6
VIETNAM                           5.7  6.0  6.5  6.2  6.0  5.700000  5.8
YEMEN                             9.0  9.3  9.4  9.5  9.3  9.500000  9.6
ZAMBIA                            6.0  6.0  5.7  5.4  5.9  5.600000  5.3
ZIMBABWE                          8.4  8.1  7.8  7.5  7.3  7.000000  6.7

measure
year                     2020 2021
Country
AFGHANISTAN          7.500000  7.2
ALBANIA              4.400000  4.1
ALGERIA              7.472407  7.2
ANGOLA               7.800000  8.1
ANTIGUA AND BARBUDA  3.600000  3.6
...                       ...  ...
VENEZUELA            7.300000  7.0
VIETNAM              5.500000  5.2
YEMEN                9.698870  9.4
ZAMBIA               5.000000  5.3
ZIMBABWE             6.400000  6.1

[178 rows x 27 columns]

In this situation, melting is easy:

In [23]:
FragilitySome_W.melt(ignore_index = False)

                                  measure  year  value
Country
AFGHANISTAN          C1_SecurityApparatus  2013    9.9
ALBANIA              C1_SecurityApparatus  2013    5.5
ALGERIA              C1_SecurityApparatus  2013    7.4
ANGOLA               C1_SecurityApparatus  2013    6.1
ANTIGUA AND BARBUDA  C1_SecurityApparatus  2013    4.9
...                                   ...   ...    ...
VENEZUELA               C3_GroupGrievance  2021    7.0
VIETNAM                 C3_GroupGrievance  2021    5.2
YEMEN                   C3_GroupGrievance  2021    9.4
ZAMBIA                  C3_GroupGrievance  2021    5.3
ZIMBABWE                C3_GroupGrievance  2021    6.1

[4806 rows x 3 columns]